<div class= "heading">
<h1>Eat-Da-Burger</h1>

<form>
    <label for="whatBurger">Enter a type of burger you would like to eat:</label>
    <input type="text" id="whatBurger">
    <br>
    <button type="submit" id="submitBurger">Submit</button>
</form>
</div>