<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Concert+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<title>Burger Time!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgerFrontEnd.js"></script>
</head>

<body>
	{{{ body }}}
</body>

</html>